<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon Project</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/resources"><li>Resources</li></a>
            <a href="/add"><li>Add</li></a>
            <a href="/login"><li>Signin</li></a>
        </ul> 
     </nav>
    <div id="signinarea">
        <h2>Sign in Here</h2>
    <a href="/google">
       <div id="signupbtn">   
            <img src="https://img.icons8.com/color/40/4a90e2/google-logo.png"/>
            <h3>Sign in With Google</h3></button>
       </div>
    </a>
    </div>
</body>
</html>